<div class="card">
  <div class="card-user">
    @if(user !== undefined && user !== null) {
      @switch (user.gender.toUpperCase()) {
        @case('M') {
          <div class="profile-picture user-man"></div>
        }
        @case('F') {
          <div class="profile-picture user-woman"></div>
        }
        @default {
          <div class="profile-picture user-default"></div>
        }
      }
      <div class="user-info">
        <div class="user-name">{{user.name}}</div>
        <div class="user-details">{{user.age}} anos - {{user.profession}}</div>
      </div>
    } @else {
      <span>No data provided</span>
    }
  </div>
</div>
